{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900"  style="background-image: url('{% static 'img/bg-index.jpg' %}'); background-size: 100% auto; background-repeat: no-repeat; background-position: center;">
    <div class="min-h-screen flex flex-col">
        <!-- Header -->
        <header class="bg-blue-600 text-white py-4 px-6 shadow-md text-center">
            <h1 class="text-3xl md:text-4xl font-bold">PROBLEMAS RELACIONADOS A MEDICAMENTOS NA ARTRITE REUMATOIDE</h1>
        </header>

        <!-- Conteúdo Principal -->
        <main class="flex-1 flex items-center justify-center p-6">
            <div class="relative w-full max-w-3xl bg-cover bg-center rounded-lg shadow-lg overflow-hidden">
                <div class="absolute inset-0 bg-black bg-opacity-50"></div> 
                <div class="relative p-8 md:p-10 text-center text-white">
                    <h2 class="text-2xl md:text-3xl font-semibold mb-4">Sobre o estudo</h2>
                    <p class="text-gray-200 mb-6 text-justify">
                        O presente estudo tem como propósito avaliar a conformidade das prescrições médicas com as diretrizes clínicas estabelecidas para o tratamento da doença. A investigação busca identificar possíveis discrepâncias entre as recomendações oficiais e a prática clínica, proporcionando uma análise detalhada para melhorias na padronização terapêutica.
                    </p>
                    <!-- Botão -->
                    <a href="{% url 'cadastro_paciente' %}" class="bg-blue-600 text-white px-6 py-3 rounded-full shadow-md hover:bg-blue-700 transition">
                        Iniciar Questionário
                    </a>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-4 text-center mt-auto">
            <p class="text-sm">&copy; 2025. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>
